<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:method="GET" th:action="@{/user/profile}">
    <input type="submit" value="Profile"/>
</form>


<div th:each="product : ${products}">
    <div th:if="${product.getBuyer() == null}">
    <a th:href="@{/product/{id}(id=${product.getId()})}"><p th:text="${product.getTitle()}"</p></a>
    <p th:text="${product.getPrice() + ', ' + product.getShort_description()}">product</p>
    <hr/>
    </div>
</div>


</body>
</html>