<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Product</title>
</head>
<body>

<a th:text="${product.getTitle()}">product</a>
<br/>
<a th:text="${product.getPrice()}">product</a>
<br/>
<a th:text="${product.getShort_description()}">product</a>
<br/>
<a th:text="${product.getLong_description()}">product</a>

<br/>
<hr/>

<p>sells:</p>
<br/>
<a th:href="@{/user/{id}(id=${product.getSeller().getId()})}">
    <p th:text="${product.getSeller().getFirst_name() + ', ' + product.getSeller().getLast_name() }"</p>
</a>

<br/>
<hr/>

<div th:if="${product.getBuyer() == null && product.getSeller().getId() != user.getId()}">
    <form th:method="POST" th:action="@{/product/{id}/buy(id=${product.getId})}">
        <input type="submit" value="Buy !"/>
    </form>
</div>


<div th:if="${product.getBuyer() != null}">
    <p>buys:</p>
    <br/>
        <a th:href="@{/user/{id}(id=${product.getBuyer().getId()})}">
            <p th:text="${product.getBuyer().getFirst_name() + ', ' + product.getBuyer().getLast_name() }"</p>
        </a>
</div>

<br/>
<hr/>


<!--<form method="POST" action="${pageContext.request.contextPath}/uploadMulti" enctype="multipart/form-data">-->
<!--    <input type="file" name="files" /><br/>-->
<!--    <input type="file" name="files" /><br/>-->
<!--    <input type="file" name="files" /><br/>-->
<!--    <input type="submit" value="Submit" />-->
<!--</form>-->

<form method="POST" th:action="@{/product/uploadMulti}" enctype="multipart/form-data">
    <input type="file" name="files" /><br/>
    <input type="file" name="files" /><br/>
    <input type="file" name="files" /><br/>
    <button type="submit"> Add</button>
    <h2 th:text="${message}"></h2>
</form>



<!--<div>-->
<!--    <img th:src="@{/imagesByUsers/{id}.png(id=${user.getId()})}">-->
<!--</div>-->

<br/>
<hr/>

<a href="/product/main">Main Page</a>


</body>
</html>