<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Product</title>
</head>
<body>

<a th:text="${product.getTitle()}">product</a>
<br/>
<a th:text="${product.getPrice()}">product</a>
<br/>
<a th:text="${product.getShort_description()}">product</a>
<br/>
<a th:text="${product.getLong_description()}">product</a>


<br/>
<hr/>
<p th:text="${product.getSeller()}">seller</p>

<br/>
<hr/>

<div th:if="${product.getBuyer() != null}">
    <p th:text="${product.getBuyer()}">seller</p>
    <br/>
    <hr/>
</div>

<br/>
<hr/>
<br/>
<hr/>


    <a th:href="@{/user/{id}(id=${product.getSeller().getId()})}">
        <p th:text="${product.getSeller().getFirst_name() + ', ' + product.getSeller().getLast_name() }"</p>
    </a>


<br/>
<hr/>

<div th:if="${product.getBuyer() != null}">
        <a th:href="@{/user/{id}(id=${product.getBuyer().getId()})}">
            <p th:text="${product.getBuyer().getFirst_name() + ', ' + product.getBuyer().getLast_name() }"</p>
        </a>
    <br/>
    <hr/>
</div>



<a href="/product/main">Main Page</a>


</body>
</html>