<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:method="GET" th:action="@{/user/profile}">
    <input type="submit" value="Profile"/>
</form>

<form th:method="PATCH" th:action="@{/admin/addAdmin}">
    <label for="user"> Take a person for admin</label>
    <select th:object="${user}" th:field="*{id}" id="user">
        <option th:each="user : ${users}" th:value="${user.getId()}"
                th:text="${user.getUsername}"></option>
    </select>

    <input type="submit" value="add to admin">
</form>


Product under consideration:

<div th:each="product : ${listProductForCheck}">
    <p th:text="${product.getTitle()}">product</p>
    <p th:text="${product.getPrice()}">product</p>
    <p th:text="${product.getShort_description()}">product</p>
    <p th:text="${product.getLong_description()}">product</p>
    <p th:text="${product.getLogin_in_game()}">product</p>
    <p th:text="${product.getPassword_in_game()}">product</p>
    <p th:text="${product.getEmail_in_game()}">product</p>
    <p th:text="${product.getSecret_question()}">product</p>
    <p th:text="${product.getSecret_answer()}">product</p>
    <hr/>
    <form th:method="POST" th:action="@{/admin/checkOrder/good/{id}(id=${product.getId()})}">
        <input type="submit" value="Good"/>
    </form>
    <hr/>
    <form th:method="POST" th:action="@{/admin/checkOrder/bad/{id}(id=${product.getId()})}">
        <input type="submit" value="Bad"/>
    </form>
</div>

</body>
</html>