<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find profile</title>
</head>
<body>

<form th:method="POST" th:action="@{/logout}" >
    <input type="submit" value="Logout"/>
</form>

<form  th:method="GET" th:action="@{/product/main}">
    <input type="submit" value="Main Page"/>
</form>

<form th:method="GET" th:action="@{/user/profile}">
    <input type="submit" value="Profile"/>
</form>

<div>
    <img th:src="@{/imagesByUsers/{id}.png(id=${user.getId()})}" width="120" height="100">
</div>

<a th:text="${user.getFirst_name()}">user</a>
<br/>
<a th:text="${user.getLast_name()}">user</a>
<br/>
<a th:text="${user.getDate_of_birthday()}">user</a>

<br/>
<hr/>
<div th:if!="${user.getSellProducts().isEmpty()}">
    <div th:each="product : ${user.getSellProducts()}">
        <p>sells:</p>
        <br/>
        <a th:href="@{/product/{id}(id=${product.getId()})}"><p th:text="${product.getTitle()}"</p></a>
        <p th:text="${product.getPrice() + ', ' + product.getShort_description()}">product</p>
        <hr/>
    </div>
</div>

<a href="/product/main">Main Page</a>

</body>
</html>