<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>

    <style>
        body {
            background-color: rgb(98, 98, 101);
            background-image: url(../../auth/2.jpg);
            background-size: 100vw;
            background-repeat: no-repeat;
        }
        *{
            outline:none;
        }
    </style>
</head>
<body>

<form th:method="POST" th:action="@{/logout}" >
    <input type="submit" value="Logout"/>
</form>

<form  th:method="GET" th:action="@{/product/main}">
    <input type="submit" value="Main Page"/>
</form>

<form th:method="GET" th:action="@{/user/profile}">
    <input type="submit" value="Profile"/>
</form>

<form th:method="GET" th:action="@{/user/update/{id}(id=${user.getId()})}">
    <input type="submit" value="Update profile"/>
</form>

<div th:if="${user.getRole() == 'ROLE_ADMIN'}">
    <form th:method="GET" th:action="@{/admin/checkOrder}">
        <input type="submit" value="AdminPage"/>
    </form>
</div>


<div>
    <img th:src="@{/imagesByUsers/{id}.png(id=${user.getId()})}" width="140" height="140">
</div>

<a th:text="${user.getFirst_name()}">user</a>
<br/>
<a th:text="${user.getLast_name()}">user</a>
<br/>
<a th:text="${user.getDate_of_birthday()}">user</a>
<br/>
<a th:text="${user.getUserEmail()}">user</a>
<br/>

<div th:if="${user.getCardNumber() != null}">
    <p th:text="${user.getCardNumber()}">cardNumber</p>
</div>
<br/>

<div th:if!="${user.getSellProducts().isEmpty()}">
    <p>sells:</p>
    <br/>
    <div th:each="product : ${user.getSellProducts()}">
        <a th:href="@{/product/{id}(id=${product.getId()})}"><p th:text="${product.getTitle()}"</p></a>
        <p th:text="${product.getPrice() + ', ' + product.getShort_description()}">product</p>
        <br/>
        <form th:method="DELETE" th:action="@{/product/{id}(id=${product.getId()})}">
            <input type="submit" value="Delete product"/>
        </form>
        <hr/>
    </div>
</div>

<form th:method="GET" th:action="@{/product/{id}/create(id=${user.getId()})}">
    <input type="submit" value="Create new product"/>
</form>
<br/>

<div th:if!="${user.getBuyProducts().isEmpty()}">
    <p>buys:</p>
    <br/>
    <div th:each="product : ${user.getBuyProducts()}">
        <a th:href="@{/product/{id}(id=${product.getId()})}"><p th:text="${product.getTitle()}"</p></a>
        <p th:text="${product.getPrice() + ', ' + product.getShort_description()}">product</p>
        <hr/>
    </div>
</div>
<br/>


<form method="post" th:action="@{/user/upload}" enctype="multipart/form-data">
    <input type="file" name="file">
    <button type="submit"> Add</button>
    <h2 th:text="${message}"></h2>
</form>




</body>
</html>