<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<form th:method="POST" th:action="@{/logout}" >
    <input type="submit" value="Logout"/>
</form>

<form  th:method="GET" th:action="@{/product/main}">
    <input type="submit" value="Main Page"/>
</form>

<form th:method="GET" th:action="@{/user/profile}">
    <input type="submit" value="Profile"/>
</form>

<form th:method="PATCH" th:action="@{/user/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="first_name">Enter first_name: </label>
    <input type="text" th:field="*{first_name}" id="first_name"/>
    <div style="color:red" th:if="${#fields.hasErrors('first_name')}" th:errors="*{first_name}">first_name Error</div>
    <br/>
    <label for="last_name">Enter last_name: </label>
    <input type="text" th:field="*{last_name}" id="last_name"/>
    <div style="color:red" th:if="${#fields.hasErrors('last_name')}" th:errors="*{last_name}">last_name Error</div>
    <br/>
    <label for="date_of_birthday">Enter date_of_birthday like "dd/mm/yyyy": </label>
    <input type="text" th:field="*{date_of_birthday}" id="date_of_birthday"/>
    <div style="color:red" th:if="${#fields.hasErrors('date_of_birthday')}" th:errors="*{date_of_birthday}">date_of_birthday Error</div>
    <br/>
    <label for="userEmail">Enter userEmail</label>
    <input type="text" th:field="*{userEmail}" id="userEmail"/>
    <div style="color:red" th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}">userEmail Error</div>
    <br/>
    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username Error</div>
    <br/>

    <input type="submit" value="Update!"/>
</form>

<form th:method="POST" th:action="@{/user/updatePass/{id}(id=${user.getId()})}">
    <label for="password1">Enter old password: </label>
    <input name="oldPass1" type="password" id="password1"/>
    <br/>
    <label for="password2">repeat old password: </label>
    <input name="oldPass2" type="password" id="password2"/>
    <br/>
    <label for="password3">Enter new password: </label>
    <input name="newPass" type="password" id="password3"/>
    <br/>
    <input type="submit" value="Update!"/>

    <h2 th:text="${message}"></h2>
</form>

</body>
</html>