<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>


<a th:text="${user.getFirst_name()}">user</a>
<a th:text="${user.getLast_name()}">user</a>
<a th:text="${user.getYear_of_birthday()}">user</a>
<a th:text="${user.getLogin()}">user</a>
<a th:text="${user.getPassword()}">user</a>


<div th:if="user.getCardNumber() != null">
    <p th:text="${user.getYear_of_birthday()}">cardNumber</p>
</div>

<br/>
<hr/>
<div th:if!="${users.getSellProducts().isEmpty()}">
    <div th:each="product : ${users.getSellProducts()}">
        <p th:href="@{/products/{id}(id=${product.getId()})}"
           th:text="${product.getTitle() + ', ' + book.getPrice()}">product</p>
    </div>
</div>

<br/>
<hr/>
<div th:if!="${users.getBuyProducts().isEmpty()}">
    <div th:each="product : ${users.getBuyProducts()}">
        <p th:href="@{/products/{id}(id=${product.getId()})}"
           th:text="${product.getTitle() + ', ' + book.getPrice()}">product</p>
    </div>
</div>


</body>
</html>